
<template name="nav">
  <div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar">dashboard</span>
          <span class="icon-bar">posts</span>
          <span class="icon-bar">messages</span>
        </button>
      </div>
      <a class="navbar-brand" href="{{pathFor 'homeIndex'}}"><i class="fa fa-link"> ink-Link</i></a>

      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li>
            <a href="{{pathFor 'dashboard'}}">
              <i class="fa fa-dashboard"></i>
               dashboard
            </a>
          </li>
          <li>
            <a href="{{pathFor 'posts'}}">
              <i class="fa fa-clipboard"></i>
              posts
            </a>
          </li>
          <li>
            <a href="{{pathFor 'messages'}}">
              <i class="fa fa-envelope-o"></i>
              messages
            </a>
          </li>
        </ul>
          <li class="login pull-right">
            <a href="{{pathFor 'login'}}">
            <i class="fa fa-user"></i>
            login
          </a>
          </li>
      </div>
    </div>
  </div>
</template>
