/* CSS declarations go here */

.fa:hover {
  color: rgba(130, 225, 200, 1);
}
.lead {
  padding-bottom: 100px;
}

.wrapper {
  width: 100%;
  height: 100%;
  text-align: center;
}
.navbar {
  background-color: rgba(130, 225, 200, 1);
}
.navbar a {
  color: white !important;
}
.navbar a:hover {
  color: grey !important;
}
.navbar-inverse {
  border: none!important;
}
.error {
  margin: 0 auto;
  text-align: center;
}

.error-code {
  bottom: 60%;
  color: #2d353c;
  font-size: 96px;
  line-height: 100px;
}

.error-desc {
  font-size: 12px;
  color: #647788;
}

.m-b-10 {
  margin-bottom: 10px!important;
}

.m-b-20 {
  margin-bottom: 20px!important;
}

.m-t-20 {
  margin-top: 20px!important;
}

.loading-message {
  color: #fff;
  font-size: 25px;
  font-weight: 300;
  font-family: sans-serif;
}

.sk-spinner-rotating-plane.sk-spinner {
  background-color: #fff;
}
.navbar-brand {
  font-size: 24px;
}

.navbar-brand a:hover {
  background-color: lightgrey;
  color:grey;
}

.nav li:hover{
  background-color: lightgrey;
}

.navbar-fixed-left {
  width: 140px;
  position: fixed;
  border-radius: 0;
  height: 100%;
}

.navbar-fixed-left .navbar-nav > li {
  float: none;  /* Cancel default li float: left */
  width: 139px;
}

.navbar-fixed-left + .container {
  padding-left: 160px;
}

/* On using dropdown menu (To right shift popuped) */
.navbar-fixed-left .navbar-nav > li > .dropdown-menu {
  margin-top: -50px;
  margin-left: 140px;
}
.row .search-row{
  margin: 20px;
}
img.img-responsive {
  height: 200px;
  background-image: fill;
}
.panel-heading.message {
  background-color: lightgreen;
}
.panel-heading.posts {
  background-color: lightblue;
}
.panel-heading.payment {
  background-color: lightpink;
}
